[project]
	description = Project of Windmill made for GKOM lessons on WUT in Visual Studio
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wasiollo
[access "refs/for/refs/*"]
	read = group user/Wasiollo
	push = group user/Wasiollo
	label-Code-Review = -2..+2 group user/Wasiollo
	label-Verified = -1..+1 group user/Wasiollo
	rebase = group user/Wasiollo
	removeReviewer = group user/Wasiollo
	submit = group user/Wasiollo
[access "refs/heads/*"]
	read = group user/Wasiollo
	create = group user/Wasiollo
	push = +force group user/Wasiollo
	pushMerge = group user/Wasiollo
[access "refs/tags/*"]
	push = group user/Wasiollo
	push = +force group user/Wasiollo
